.container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5%;
}

/* activate the 2nd column after 2 items*/
.container > div:first-child:nth-last-child(n+2) ~ :nth-child(2) {
  grid-column: 2;
}

/* activate the 3rd column after 3 items*/
.container > div:first-child:nth-last-child(n+3) ~ :nth-child(3) {
  grid-column: 3;
}

